/*
 * Все паршалы импортировать в этот файл
 */

@import 'normalize.scss';
@import 'base.scss';

:root {
  --color-primary-white: #ffffff;
  --color-secondary-skyblue: #8298f0;
  --color-black: #000000;
  --color-primary-font: #0f0101;
  --color-text: #323232;
  --color-accent: #adff2f;
  // --color-: #1abc9c;
  --color-rgda-text: rgba(9, 175, 223, 0.5);
  // --color-active: #ff0000;
  --font-primary-stack: 'Montserrat', sans-serif;
  --font-secondary-stack: 'Roboto', sans-serif;
  --animation-time: 250ms;
  --timing-fn: cubic-bezier(0.4, 0, 0.2, 1);
  --outline: 1px solid orange;
}

// TODO
// попробовать применить background-attachment для всей страницы

// TYPOGRAPHY
body {
  font-family: var(--font-secondary-stack);
  color: var(--color-text);
  margin: 0;
  line-height: 1.2;
}

h1,
h2,
h3,
h4 {
  font-family: var(--primary-font-stack);
  color: var(--color-primary-font);
  line-height: 1.2;
  margin: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.mastheader {
  position: sticky;
  top: 0;
  background-color: #262934;
  color: var(--color-primary-white);
  min-height: 60px;
  z-index: 10;
  box-shadow: 0px 6px 19px 2px rgba(147, 156, 158, 1);
}

.site-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.site-nav__list {
  display: flex;
}

.site-nav__link,
.site-nav__logo {
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}

// сделать скайл обратно

.site-nav__link {
  position: relative;
  display: flex;
  align-items: center;
  color: var(--color-primary-white);
  line-height: 1.9;
  font-weight: 700;
  font-size: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-transform: uppercase;
  animation-name: zoomIn;
  animation-duration: 750ms;
  animation-timing-function: var(--timing-fn);
  animation-delay: 350;
  animation-fill-mode: backwards;

  &:hover,
  &:focus {
    color: var(--color-secondary-skyblue);
  }

  &:active {
    color: var(--color-secondary-skyblue);
  }

  &:hover::before,
  &:focus::before {
    background-color: var(--color-accent);
  }

  &::before {
    color: var(--color-secondary-skyblue);
  }

  &:hover::after,
  &:focus::after {
    content: '';
    position: absolute;
    display: block;
    width: 80%;
    height: 3px;
    background-color: var(--color-accent);
    bottom: -3%;
  }
}

.icon {
  content: '';
  display: inline-block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  fill: var(--color-secondary-skyblue);
}

.book-open,
.book-closed,
.folder-open,
.folder-closed,
.phone-book--closed,
.phone-book--open {
  margin-right: 6px;
  fill: var(--color-primary-white);
}

.site-nav__link--about:hover .book-closed {
  fill: var(--color-accent);
}

.book-open {
  display: none;
}

.site-nav__link--about:hover .book-closed {
  display: none;
}

.site-nav__link--about:hover .book-open {
  display: inline-block;
  fill: var(--color-accent);
}

.folder-open {
  display: none;
}

.site-nav__link--portfolio:hover .folder-closed {
  display: none;
}

.site-nav__link--portfolio:hover .folder-open {
  display: inline-block;
  fill: var(--color-accent);
}

.phone-book--open {
  display: none;
}

.site-nav__link--contacts:hover .phone-book--closed {
  display: none;
}

.site-nav__link--contacts:hover .phone-book--open {
  display: inline-block;
  fill: var(--color-accent);
}

.site-nav__logo {
  position: relative;
  display: flex;
  align-items: center;
  color: var(--color-primary-white);
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  line-height: 1.9;
  font-weight: 700;
  animation-name: sliderinup;
  animation-duration: 750ms;
  animation-timing-function: var(--timing-fn);
  animation-delay: 350ms;
  animation-fill-mode: backwards;

  &:hover::after,
  &:focus::after {
    content: '';
    position: absolute;
    display: block;
    width: 92%;
    height: 3px;
    background-color: var(--color-accent);
    bottom: -3%;
  }

  &:hover,
  &:focus {
    color: var(--color-secondary-skyblue);
  }

  &:active {
    color: var(--color-secondary-skyblue);
  }

  &:hover .site-nav__logo--Bohdan,
  &:focus .site-nav__logo--Bohdan {
    color: var(--color-primary-white);
  }

  &:active .site-nav__logo--Bohdan {
    color: var(--color-primary-white);
  }

  &:hover .icon-logo,
  &:focus .icon-logo {
    transform: scale(1.1);
  }

  &:active .icon-logo {
    transform: scale(1.1);
  }
}

.icon-logo {
  width: 40px;
  height: 40px;
  padding-right: 6px;
  transform: scale(1);
  transition-property: transform;
  transition-duration: var(--animation-time);
  transition-timing-function: var(--timing-fn);
}

.site-nav__logo--Bohdan {
  color: var(--color-secondary-skyblue);
}

// BANNER

.banner {
  position: relative;
  min-height: calc(100vh - 60px);
  color: var(--color-secondary-skyblue);
  background-color: #808080;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/hero/mobil.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.banner-section {
  text-align: center;
  padding-top: 40px;
  width: 100%;
}

.banner-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
}

.banner__content {
  flex-basis: calc(100% / 2);
  padding-left: 10px;
  padding-right: 10px;
}

.box__img {
  width: 135px;
  border-radius: 50%;
  border: 2px solid var(--color-secondary-skyblue);
  margin-bottom: 20px;
  overflow: hidden;
}

.banner__title {
  margin: 0;
  padding: 0;
  color: var(--color-primary-white);
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.banner__title--mod {
  color: var(--color-secondary-skyblue);
  font-size: 20px;
  font-weight: 400;
}

.banner__subtitle {
  margin: 0;
  padding: 0;
  font-size: 20px;
  margin-bottom: 5px;
  font-style: italic;
  color: var(--color-primary-white);
}

.banner__text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.5);
  font-size: 15px;
  font-style: italic;
  line-height: 1.5;
  margin-bottom: 30px;

  &::after,
  &::after {
    content: '';
    display: block;
    width: 80%;
    height: 4px;
    background-color: var(--color-secondary-skyblue);
  }
}

.banner__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 60px;
  min-width: 230px;
  margin: 0 auto;
  padding-bottom: 6px;
  padding-top: 6px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: inherit;
  font-weight: 600;
  line-height: 1.9;
  color: var(--color-primary-white);
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid var(--color-secondary-skyblue);
  border-radius: 10px;
  text-transform: uppercase;
  transform: scale(1);
  transition-property: transform, background-color;
  transition-duration: var(--animation-time), var(--animation-time);
  transition-timing-function: var(--timing-fn), var(--timing-fn);

  &:hover,
  &:focus {
    background-color: var(--color-primary-white);
    color: var(--color-secondary-skyblue);
    border: 1px solid var(--color-secondary-skyblue);
    transform: scale(1.1);
  }

  &:active {
    background-color: var(--color-primary-white);
  }
}

.img-rensposive {
  border-radius: 50%;
  border: 10px solid rgba(0, 0, 0, 0.2);
}

.banner-arrow {
  padding-left: 5px;
  padding-right: 5px;
  display: block;
  text-decoration: none;
  transform: scale(1);
  animation-name: move;
  animation-duration: 700ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: backwards;

  &:hover,
  &:focus {
    transform: scale(0.9);
    animation-play-state: paused;
  }
}

.banner-icon {
  width: 40px;
  height: 40px;
}

// PORTFOLIO

.portfolio__section {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.container__portfolio {
  border-radius: 10px;
  box-shadow: 0px 6px 19px 2px rgba(111, 90, 232, 1);
}

.portfolio__title {
  width: 90%;
  font-size: 20px;
  color: var(--color-secondary-skyblue);
  margin: 0 auto;
  margin-bottom: 25px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
  box-shadow: 0px 6px 19px 2px rgba(147, 156, 158, 1);
}

.portfolio__text {
  margin: 0;
  display: inline-block;
  color: var(--color-black);
  font-size: 15px;
  font-style: italic;
  line-height: 1.5;
  padding: 3px 3px 0 3px;
  border-radius: 6px;
  margin: 0;
  margin-bottom: 15px;

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: -1px;
    background-color: var(--color-secondary-skyblue);
    margin-left: auto;
    margin-right: auto;
  }
}

.portfolio__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 25px;
}

.card {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px,
    rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;

  &:hover .overlay::before,
  &:focus .overlay::before {
    opacity: 1;
  }

  &:hover .action__content--title,
  &:focus .action__content--title {
    transform: translateY(0);
  }

  &:hover .action__content--join,
  &:focus .action__content--join {
    transform: translateX(0);
  }
}

.overlay {
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: rgba(9, 175, 223, 0.7);
    border-radius: 10px;
    overflow: hidden;
    opacity: 0;
    transition-property: opacity;
    transition-duration: var(--animation-time);
    transition-timing-function: var(--timing-fn);
    pointer-events: none;
  }
}

.action {
  display: flex;
}

.action__content {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition-property: transform;
  transition-duration: var(--animation-time);
  transition-timing-function: var(--timing-fn);
  transition-delay: var(--animation-time);
  pointer-events: none;
}

.action__content--title {
  margin: 0;
  padding: 0;
  color: var(--color-primary-white);
  font-size: 30px;
  left: 20px;
  bottom: 20px;
  transform: translateY(200%);
}

.action__content--join {
  right: 10px;
  top: 10px;
  transform: translateX(170%);
  text-decoration: none;
  fill: var(--color-primary-white);
}

.icon-link {
  width: 45px;
  height: 45px;
  fill: var(--color-primary-white);
}

.portfolio__meta,
.portfolio__subtitle {
  margin: 0;
  padding: 0;
}

.portfolio__subtitle {
  margin-bottom: 25px;
  font-size: 25px;
}

.portfolio__meta {
  padding: 0 3px 3px 3px;
}

.portfolio-preview {
  margin-left: auto;
  margin-right: auto;
  padding: 5px 3px 3px 3px;
  border-radius: 6px;
  margin-bottom: 10px;
}

.portfolio-preview__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  font-style: italic;
  color: var(--color-secondary-skyblue);
  color: var(--color-black);
  font-size: 15px;
}

.box-point {
  display: flex;
  align-items: center;
}

.excerpt {
  margin: 0;
  padding: 0;
  margin-right: 5px;
}

.point {
  animation-name: jump-exterior;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  &:not(:last-child) {
    margin-right: 5px;
  }
}

.point--one {
  animation-duration: 400ms;
  color: var(--color-secondary-skyblue);
}

.point--two {
  animation-duration: 400ms;
  animation-delay: 100ms;
  color: var(--color-secondary-skyblue);
}

.point--three {
  animation-duration: 400ms;
  animation-delay: 200ms;
  color: var(--color-secondary-skyblue);
}

.portfolio-arrow {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;

  &:hover .point,
  &:focus .point {
    animation-play-state: paused;
  }
}

.arrow-down {
  width: 40px;
  height: 40px;
  margin-top: 10px;
  animation-name: move;
  animation-duration: 700ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: backwards;

  &:hover,
  &:focus {
    animation-play-state: paused;
  }
}

// FOOTER

footer {
  background-color: var(--color-text);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/hero/mobil.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.message-section {
  min-height: 500px;
}

.message {
  text-align: center;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  height: 100%;
}

.message__title {
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--color-primary-white);
}

.message__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1100px;
  margin: 0 auto;
}

.message__box {
  width: 100%;
  height: 60px;
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
}

.message__box--textarea {
  height: 100px;
  margin-bottom: 100px;
}

.message__label {
  display: flex;
  text-align: start;
  width: 100%;
}

.message__input {
  all: unset;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(96, 101, 104, 0.8);
  color: var(--color-accent);

  &::placeholder {
    color: var(--color-rgda-text);
  }
}

.message__textarea {
  all: unset;
  height: 100px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  width: 100%;
  border-bottom: 1px solid rgba(96, 101, 104, 0.8);
  padding-top: 20px;
  padding-bottom: 10px;
  resize: none;
  color: var(--color-accent);

  &::placeholder {
    color: var(--color-rgda-text);
  }
}

.message__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 50px;
  min-width: 200px;
  margin-right: auto;
  padding-bottom: 6px;
  padding-top: 6px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: inherit;
  font-weight: 600;
  line-height: 1.9;
  color: var(--color-primary-white);
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid var(--color-secondary-skyblue);
  border-radius: 10px;
  text-transform: uppercase;
  cursor: pointer;
  transform: scale(1);
  transition-property: transform, background-color;
  transition-duration: 400ms, 400ms;
  transition-timing-function: var(--timing-fn), var(--timing-fn);

  &:hover,
  &:focus {
    background-color: var(--color-primary-white);
    color: var(--color-secondary-skyblue);
    border: 1px solid var(--color-secondary-skyblue);
    transform: scale(0.9);
  }

  &:active {
    color: var(--color-accent);
    border: 1px solid var(--color-accent);
  }
}

// CONTACTS
// добавить градиент попробовать на сектион контакт

.content {
  flex-basis: calc(100% / 2 - 10px);
  flex-grow: 0;
  margin-right: 50px;

  &:nth-child(2n) {
    margin-right: 0;
  }
}

.contacts-container {
  margin-bottom: 20px;
}

.content-contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contacts__title,
.social__title {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.9;
  color: var(--color-primary-white);
  margin-bottom: 20px;
}

.contacts__list {
  display: flex;
  flex-direction: column;
}

.contacts__item {
  display: flex;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.contacts__link {
  display: inline-flex;
  text-decoration: none;
  color: var(--color-secondary-skyblue);
  align-items: center;

  &:hover,
  &:focus {
    color: var(--color-primary-white);
  }

  &:active {
    color: var(--color-accent);
  }

  &:hover .icon-contacts,
  &:focus .icon-contacts {
    fill: var(--color-primary-white);
    transform: scale(1.2);
  }

  &:active .icon-contacts {
    fill: var(--color-accent);
  }
}

.icon-contacts {
  margin-right: 6px;
  transform: scale(1);
  transition-property: transform;
  transition-duration: var(--animation-time);
  transition-timing-function: var(--timing-fn);
}

.content-social {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social__list {
  display: flex;
}

.social__item {
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  display: inline-flex;
  text-decoration: none;
  border-radius: 50%;
  border: 1px solid;
  border-color: transparent;
  color: var(--color-secondary-skyblue);
  transform: scale(1);
  transition-property: transform;
  transition-duration: var(--animation-time);
  transition-timing-function: var(--timing-fn);

  &:hover,
  &:focus {
    transform: scale(1.2);
  }

  &:hover .linkedin,
  &:focus .linkedin {
    fill: var(--color-primary-white);
    border: 1px solid var(--color-secondary-skyblue);
  }

  &:active .icon-social {
    fill: var(--color-accent);
    transform: scale(1.2);
  }

  &:hover .github,
  &:focus .github {
    fill: var(--color-primary-white);
    border: 1px solid var(--color-black);
  }
}

.linkedin {
  fill: var(--color-secondary-skyblue);
}

.icon-social {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.github {
  fill: var(--color-black);
}

.section-copirhit {
  background-color: rgb(38, 41, 52);
}

.container-copirhit {
  display: flex;
  justify-content: space-between;
  color: var(--color-primary-white);
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.copyright__link {
  display: inline-block;
  text-decoration: none;
  color: var(--color-secondary-skyblue);
}

.arrow-up {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid var(--color-rgda-text);
  transform: scale(1);
  transition-property: transform;
  transition-duration: var(--animation-time);
  transition-timing-function: var(--timing-fn);

  &:hover,
  &:focus {
    transform: scale(1.2);
    border: 2px solid var(--color-primary-white);
  }

  &:active {
    border: 2px solid var(--color-primary-white);
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes sliderinleft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes sliderinup {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes move {
  0% {
    transform: translateY(-15%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes jump-exterior {
  0% {
    transform: translateY(-20%);
    color: var(--color-secondary-skyblue);
  }

  50% {
    color: #ff0000;
  }

  100% {
    transform: translateY(0);
    color: rgb(0, 255, 170);
  }
}

// MOBIL

@media screen and (max-width: 767px) {
  .banner-container {
    align-items: center;
  }

  .banner__content--text {
    width: 320px;
  }

  .banner__inner {
    margin-bottom: 25px;
  }

  .banner__btn:not(:last-child) {
    margin-bottom: 25px;
  }

  .banner-arrow {
    margin: 0 auto;
  }

  .portfolio__text {
    &::after {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .portfolio__list + .portfolio__list {
    margin-top: 20px;
  }

  .message__btn {
    margin-right: auto;
    margin-left: auto;
  }

  .content-contacts {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .contacts__title {
    text-align: center;
    margin-bottom: 10px;
  }

  .container-copirhit {
    font-size: 10px;
  }
}

// TABLET

@media screen and (min-width: 768px) {
  .site-nav {
    flex-direction: row;
    justify-content: space-between;
  }

  .site-nav__logo {
    font-size: 15px;
  }

  .site-nav__link {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 12px;

    &::before {
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }

    &:hover::after,
    &:focus::after {
      width: 60%;
      left: 20%;
      right: 20%;
      height: 4px;
      bottom: -4%;
      background-color: var(--color-accent);
    }
  }

  .site-nav__link,
  .site-nav__logo {
    padding-left: 10px;
    padding-right: 10px;
  }

  .site-nav__logo {
    animation-name: sliderinleft;

    &:hover::after,
    &:focus::after {
      width: 60%;
      height: 4px;
      bottom: -4%;
      right: 10%;
      background-color: var(--color-accent);
    }
  }

  .banner-container {
    align-items: center;
  }

  .banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(../images/hero/tablet.jpg);
  }

  .banner-section {
    padding-top: 60px;
  }

  .banner__content {
    margin-right: 30px;
    flex-basis: calc(100% / 2 - 10px);
    flex-grow: 0;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  .banner__inner {
    margin-bottom: 50px;
  }

  .banner__title {
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
  }

  .banner__title--mod {
    font-size: 25px;
  }

  .banner__subtitle {
    font-size: 20px;
  }

  .banner__text {
    font-size: 18px;
    margin-bottom: 30px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;

    &::after,
    &::after {
      width: 85%;
      height: 4px;
      background-color: var(--color-secondary-skyblue);
    }
  }

  .box__img {
    width: 200px;
  }

  .box--btn {
    display: flex;
    justify-content: center;
  }

  .banner-arrow {
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 0;
    left: 47%;
    transform: translate(-63%, -100%);
  }

  // PORTFOLIO

  .portfolio__section {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .portfolio__title {
    font-size: 30px;
  }

  .portfolio__text {
    font-size: 20px;
  }

  .portfolio__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }

  .portfolio__item {
    flex-basis: calc(100% / 2 - 30px);
    flex-grow: 0;
    margin-right: 60px;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }

  .portfolio-preview {
    width: 80%;
  }

  .portfolio-preview__title {
    font-size: 20px;
  }

  // FOOTER

  .footer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(../images/hero/tablet.jpg);
  }

  .message-section {
    min-height: 600px;
  }

  .message {
    text-align: center;
    padding: 40px 50px;
    height: 100%;
  }

  .message__title {
    font-size: 28px;
  }

  .contacts-container {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
  }

  .contacts__title,
  .social__title {
    padding-top: 30px;
  }

  .container-copirhit {
    font-size: 12px;
  }
}

// MOBIL AND TABLET
@media screen and (max-width: 1169px) {
  .banner__title {
    width: 70%;
  }

  .container-copirhit {
    text-align: center;
  }

  .terms-polic__copirhit,
  .text__copyright {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .terms-polic__copirhit {
    margin-right: 10px;
  }

  .arrow-up {
    bottom: 50px;
    right: 10px;
  }
}

// DESKTOP

@media screen and (min-width: 1170px) {
  .site-nav__link {
    font-size: 15px;
  }

  .site-nav__logo {
    font-size: 18px;
  }

  .site-nav__link {
    &:hover::after,
    &:focus::after {
      background-color: var(--color-secondary-skyblue);
    }
  }

  .site-nav__logo {
    &:hover::after,
    &:focus::after {
      background-color: var(--color-secondary-skyblue);
    }
  }

  .banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(../images/hero/desktop-1300.jpg);
  }

  .banner-section {
    padding-top: 100px;
  }

  .banner__content {
    margin-right: 70px;
  }

  .banner__title {
    font-size: 30px;
  }

  .banner__text {
    width: 100%;

    &::after,
    &::after {
      width: 100%;
    }
  }

  .banner-container {
    flex-direction: row;
  }

  .banner__title--mod {
    font-size: 30px;
  }

  .banner__subtitle {
    font-size: 35px;
  }

  .banner__text {
    font-size: 25px;
    margin-bottom: 30px;
  }

  .box__img {
    width: 269px;
    margin-left: 150px;
  }

  .box--btn {
    display: flex;
    justify-content: space-between;
  }

  .portfolio__title {
    font-size: 50px;
  }

  .portfolio__text {
    font-size: 25px;
  }

  .portfolio-preview__title {
    font-size: 30px;
  }

  footer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(../images/hero/desktop-1300.jpg);
  }

  .message__title {
    font-size: 34px;
  }
}

@media screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(../images/hero/mobil@2x.jpg);
  }

  footer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(../images/hero/mobil@2x.jpg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1169px) and (min-resolution: 2dppx) {
  .banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(../images/hero/tablet@2x.jpg);
  }

  footer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(../images/hero/tablet@2x.jpg);
  }
}

@media screen and (min-width: 1170px) and (min-resolution: 2dppx) {
  .banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(../images/hero/desktop@2x.jpg);
  }

  footer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(../images/hero/desktop@2x.jpg);
  }
}
