:root {
  --color-primary-white: #ffffff;
  --color-secondary-skyblue: #8298f0;
  --color-black: #000000;
  --color-primary-font: #0f0101;
  --color-text: #323232;
  --color-accent: #adff2f;
  --color-rgda-text: rgba(9, 175, 223, 0.5);
  --font-primary-stack: 'Montserrat', sans-serif;
  --font-secondary-stack: 'Roboto', sans-serif;
  --animation-time: 250ms;
  --timing-fn: cubic-bezier(0.4, 0, 0.2, 1);
  --outline: 1px solid orange;
}
