@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes sliderinleft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes sliderinup {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes move {
  0% {
    transform: translateY(-15%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes jump-exterior {
  0% {
    transform: translateY(-20%);
    color: var(--color-secondary-skyblue);
  }

  50% {
    color: #ff0000;
  }

  100% {
    transform: translateY(0);
    color: rgb(0, 255, 170);
  }
}
