@media screen and (max-width: 767px) {
  .pagination-slider {
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .pagination__button + .pagination__button {
    margin-top: 15px;
  }

  .content-slider {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .item__social + .item__social {
    margin-top: 10px;
  }
}
